@font-face {
  font-family: BrandonText;
  src: url('./../../assets/Font/BrandonText-Medium.ttf');
}

@font-face {
  font-family: BrandonLight;
  src: url('./../../assets/Font/BrandonText-Regular.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: BrandonText;
}

img,
picture,
svg,
video {

  display: block;
  max-width: 100%;
}                                                                                    

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a                                           {                                          
  text-decoration: none;

}

button {
  outline: none;
  border: none;
}

//  add library tailwindCss
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-top: 100px;
  min-height: 100vh;
}

// base
.container {
  max-width: 1320px;
  padding: 0 30px;
  margin: 0 auto;
}
 
