.sizeXL {
      padding: 13px 50px;
 margin-top: 19px;
       width: 100%;
     color: #f6f1f1;
     border-width: 1px;
     border-style: solid;
      font-weight: bold;
     line-height: 1.2;
     background-color: #e32124;

}
 .backXL {
     padding: 10px 50px;
     margin-top: 19px;
         color: #f6f1f1;
         border-width: 1px;
          font-size: 14px;
           border-radius: 2px;
         border-style: solid;
          font-weight: bold;
           background-color: #333;
 }
.primary {
     padding: 10px 18px;
     color: #000;
     border-width: 1px;
     border-style: solid;
     border-color: #000;
     line-height: 1.2;
     box-shadow: 0 1px 1px #ccc;
     background-color: transparent;
}
.bold {
     padding: 10px 21px;
     border-radius: 3px;
}
.facebook {
      background-color: #4064AC;
       color : #fff;
        padding: 10px 10px 10px 30px;
         font-size: 14px;
          border-radius: 3px;
          width: 196px;
     }
     .google {
     width: 196px;
      background-color: #CF4332;
       color : #fff;
        padding: 10px 10px 10px 30px;
         font-size: 14px;
          border-radius: 3px;
}

